#p1 {
	font-family: "Times New Roman", Georgia, Serif;
}

#p2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: red;
}

img {
	width: 50px;
	height: 50px;
	margin-left: 25%;
}