#p1 {
	font-family: "Times New Roman", Georgia, Serif;
}

#p2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: red;
}

img {
	width: 50px;
	height: 50px;
	background-color: white;
	margin: 20px;
}

#image {
	text-align: center;
}

#image>p {
	border-style: dotted;
}

body {
	background-color: cyan;
}

#ghost {
	float: right;
	width: 250px;
	height: 250px;
	border: 15px;
	border-style: solid;
	border-color: red;
	border-radius: 25px;
}